[Desktop Entry]
Type=Application
Name=Rclone Browser
GenericName=Cloud file manager
Comment=rclone GUI: browse, transfer and sync files on all your cloud storage
Exec=rclone-browser
Icon=rclone-browser
Terminal=false
Categories=Network;FileTransfer;Utility;Qt;
Keywords=rclone;cloud;sync;backup;google drive;onedrive;dropbox;s3;
StartupWMClass=rclone-browser
